/* Add Global styles here */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('background.PNG');
    background-position: center;
    background-attachment: fixed;
}

/* NAVBAR */
.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: rgba(87, 87, 87, 0.8);
}

/* Content */
.container {
    text-align: center;
    padding: 20px;
}

input,
button {
    margin: 8px 4px;
    padding: 10px;
    font-size: 1rem;
}

button {
    cursor: pointer;
}

/* Table */
table {
    margin: auto;
    background: white;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 10px;
}

/* Card */
.card {
    width: 250px;
    height: 150px;
    margin: 20px auto;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    cursor: pointer;
}

.dark {
    background-color: #1e1e1e;
    color: white;
}
#card {
    width:300px;
    height:200px;
    perspective: 100px;
    transition: transform 0.6s;
    transform: style preserve -3d;
    cursor: pointer;
}

#card.flipped{
    transform:rotateY(180deg);
}